/* ============================================================
  SECTIONS
============================================================ */
section.module {
  height: auto;
  margin-bottom: 40px;
}

section.module.parallax {
  height: 700px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



section.smallmodule.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url("../images/home.jpg");
}
section.module.parallax-2 {
  background-image: url("../images/products-slogan-pic.jpg");
}
section.smallmodule.parallax-2 {
  background-image: url("../images/products-slogan-pic.jpg");
}
section.module.parallax-3 {
  background-image: url("../images/usc5.jpg");
}
section.smallmodule.parallax-3 {
  background-image: url("../images/contact.jpg");
}
section.module.parallax-4 {
  background-image: url("../images/bombay4.jpg");
}
section.smallmodule.parallax-4 {
  background-image: url("../images/bombay4.jpg");
}

section.module.parallax-5 {
  background-image: url("../images/bits5.jpg");
}
section.smallmodule.parallax-5 {
  background-image: url("../images/bits5.jpg");
}

section:before {
  display: block;
  content: " ";
  margin-top: -40px;
  height: 40px;
  visibility: hidden;
}
